.wrapper {
  margin-bottom: 10px;
  background-color: white;
  border: solid 1px #772ce8;
  border-radius: 10px;
  width: 90%;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.thumbnail {
  height: 100%;
  width: 150px;
  max-width: 30%;
  object-fit: contain;
  border-radius: 10px;
  object-position: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  max-width: 70%;
  padding: 10px 40px 10px 15px;
}

.title {
  color: #772ce8;
  font-size: 14px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.price {
  color: #5c5e64;
  font-size: 14px;
  margin-bottom: 10px;
  width: 100%;
}

.quantity {
  display: flex;
  justify-content: center;
  width: auto;
}

.quantity_value {
  cursor: pointer;
  grid-column: 1;
  color: #5c5e64;
  padding: 5px 15px;
  width: auto;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  background-color: #f4f6fa;
}

.decrease,
.increase {
  cursor: pointer;
  border: none;
  background-color: #772ce8;
  font-family: "Courier New", Courier, monospace;
  padding: 0px 8px;
  color: #f0f0f0;
  font-weight: 700;
}

.disabled {
  cursor: not-allowed;
  background-color: #e7e9ec;
  color: #c4c6ca;
}

.delete {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border: 0;
  color: #5c5e64;
}

.product_card_out_stock {
  padding: 5px;
  color: red;
  font-size: small;
}

.product_card_stock {
  padding: 5px;
  color: green;
  font-size: small;
}
