.product {
  background: #fff;
  border-radius: 10px;
  padding-block: 10px;
  width: 95%;
  margin-inline: auto;
  margin-bottom: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.productCreationDate {
  color: var(--primary-color);
  width: 100%;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
  padding-inline: 10px;
  font-size: 15px;
}

.productDetail {
  display: flex;
  gap: 2px;
  padding-inline: 5px;
  margin-top: 10px;
}

.productThumbnail {
  width: 90px;
  height: 100px;
}

.productOrder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productOrderSend {
  color: #07dc1d;
  font-size: 12px;
}

.productOrderReceivedDate {
  font-size: 12px;
  font-weight: bold;
}

.productOrderDescription {
  font-size: 11px;
  color: #787878;
}

.reseller {
  display: flex;
  flex-direction: column;
}

.resellerName {
  font-size: 13px;
  font-weight: bold;
  color: #787878;
}

.resellerContact {
  color: var(--primary-color);
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}

.resellerContact:hover {
  color: var(--light-primary-color);
}

@media (min-width: 600px) {
  .productDetail {
    gap: 15px;
  }

  .productOrder {
    min-width: 50%;
  }
  .reseller {
    width: 100%;
    text-align: right;
    gap: 10px;
    padding-right: 10px;
  }
}
