.containerFooter {
  height: 25vh;
}

.paymentSection {
  padding: 0 148px 0 148px;
  background-color: #32d1f7;
  display: flex;
  width: 100%;
  font-size: 16px;
}

.containerPaymentImg {
  width: 100%;
  height: 100%;
  color: #7444fb;
  display: flex;
  margin: 30px;
}

.containerPaymentImg > img {
  width: 43.63px;
  height: 43.53px;
}

.containerPaymentImg > div {
  padding-left: 20px;
  font-weight: 500;
}

.subscribeSection {
  height: 20vh;
  background-color: #7444fb;
  color: white;
  display: flex;
  padding: 31px 148px 0 72px;
  justify-content: space-around;
  padding-bottom: 10px;
}

.inputEmail {
  height: 38px;
  width: 324px;
  border-radius: 19px;
  padding-left: 20px;
  border: solid #fff 1px;
  margin-right: 15px;
}

.btnSuscribe {
  height: 38px;
  width: 324px;
  border-radius: 19px;
  background: transparent;
  color: #fff;
  font-weight: bold;
  border: solid #fff 1px;
}

.terms {
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}

.principalText {
  font-size: 26px;
  font-weight: bold;
}

.secondText {
  font-size: 18px;
}

.infoSection {
  padding: 30px 70px;
  font-size: 14px;
}

.allInformationAndLinks {
  display: flex;
  justify-content: space-around;
}
.allInformationAndLinks > p {
  cursor: pointer;
}

.textSpan {
  font-weight: bold;
  color: #7444fb;
  font-size: 18px;
}

.copyright {
  text-align: center;
  margin-top: 60px;
}

@media (max-width: 900px) {
  .paymentSection {
    background-color: #32d1f7;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0 148px 0 60px;
  }

  .subscribeSection {
    height: 30vh;
    background-color: #7444fb;
    color: white;
    padding: 0;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inputEmail {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btnSuscribe {
    height: 38px;
    width: 324px;
    border-radius: 19px;
    background: transparent;
    color: #fff;
    font-weight: bold;
    border: solid #fff 1px;
  }

  .terms {
    display: none;
  }

  .principalText {
    font-size: 18px;
    font-weight: bold;
  }
  .secondText {
    font-size: 14px;
  }

  .btnInfo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .allInformationAndLinks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

@media (max-width: 600px) {
  .paymentSection {
    padding: 0 10px 0 10px;
    overflow: hidden;
    flex-grow: 1;
  }
}
