.banner {
  width: 100%;
}

.suggested_title {
  color: var(--primary-color);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.promotions_container {
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.promotions_product {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 220px;
  width: 256px;
  background-color: #f4f6fa;
  border-radius: 20px;
  box-shadow: 0px 3px 6px #00000029;
  margin: 5px;
}

.promotions_image {
  padding: 0px 20px 10px 0px;
  margin: 5px;
}

.product_container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.product_title {
  color: #5c5e64;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  position: relative;
}

.product_title::before {
  align-items: center;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  border-bottom: solid 2px #32d1f7;
}
