.search_box {
  height: 66px;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_bar {
  background-color: white;
  width: calc(100% * 4 / 5);
  height: 36px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-radius: 19px;
  margin: 0 0 0 80px;
}

.search_icon {
  position: absolute;
  left: 95px;
}

.search_input {
  border: none;
  margin-left: 15px;
  height: 100%;
  flex: 1;
  padding: 0 0 0 25px;
  outline: none;
  border-radius: 19px;
}

.search_categories {
  color: var(--primary-color);
}

div.select {
  margin-right: 15px;
  border-left: 1px solid var(--primary-color);
}

@media (max-width: 1000px) {
  .select {
    display: none;
  }
}

@media (max-width: 800px) {
  .select {
    display: none;
  }
  .search_button {
    display: none;
  }
  .filter {
    display: none;
  }
}
