.accordionSection {
    display: flex;
    flex-direction: column;
  }
  
  .accordion {
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
    border-radius: 30px;
  }
  
  
  .accordion:hover,
  .active {
    background-color: #eee;
  }
  
 
  .accordion_title {
    font-weight: bold;
  color: #7444fb;
  font-size: 18px;
  }
  
  
  .accordionIcon {
    margin-left: auto;
    transition: transform 0.6s ease;
  }
  
  
  .rotate {
    transform: rotate(90deg);
  }
  
  
  .accordionContent {
    background-color: white;
    overflow: hidden;
    transition: max-height 0.6s ease;
  }
  
 
  .accordionText {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
  }
  